<div class="title">
  <h1>Clients</h1>
</div>

<table id="clients">
  <tr>
    <th>Client's name</th>
    <th>Membership</th>
  </tr>
  <% for client in @clients %>
  <tr>
    <td><a href="/clients/<%= client.id %>"><%= client.name %></a></td>
    <td><%= client.membership_type %></td>
    <td><form action="/clients/<%= client.id %>/edit" method="GET">
        <input class="btn btn--danger" type="submit" value="Update" />
      </form></td>
    <td><form action="/clients/<%= client.id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="Delete" />
      </form></td>
  </tr>
  <% end %>
</table>
