<h1>Classes</h1>
<table id="gymclass">
  <tr>
    <th>Name:</th>
    <th>Capacity:</th>
    <th>Dame & time:</th>
  </tr>
  <% for gymclass in @gymclasses %>
  <tr>
    <td><a href="/gymclasses/<%= gymclass.id %>"><%= gymclass.name %></a></td>
    <td><%= gymclass.capacity %></td>
    <td><%= gymclass.schedule %></td>
    <td><form action="/gymclasses/<%= gymclass.id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="Delete" />
      </form></td>
  </tr>
  <% end %>
</table>
